body {
    --black-cyan: #011;
    --dark-cyan: #033;
    --reg-cyan: #066;
    --light-cyan: #0aa;
    --dark-gray: #333;
    --reg-gray: #666;
    --caption-gray: #888;
    --bg-gray: #aaa;
    --light-gray: #eee;
}